@using Workout.Models
@model Exercise

@{
    ViewData["Title"] = "CreateExercise";
}

<h2>Create Exercise</h2>

@using (Html.BeginForm("CreateExercise", "Workout", FormMethod.Post))
{
<div class="form-group">
    <h4>Exercise name</h4>
    <div>
        @Html.TextBoxFor(m => m.ExerciseName)
    </div>
    <div id="create-workout">
        <div style="margin-bottom: 30px"></div>
        <div><input type="submit" class="btn btn-success" value="Submit" /></div>
    </div>
</div>
}
